{% extends "::base.html.twig" %} {% block title %}AppBundle:Checkout:cart{% endblock %} {% block body %}

<div id="grid" class="grid grid__row">
  <div class="grid__column grid__column--full grid--centered">
    <h1>Checkout</h1>
  </div>
  <div class="grid__column grid__column--half">
    <form id="orderForm" class="form">
      <div class="form__header">Delivery address</div>

      <label for="firstName" class="form__label form__label--required">
        First name
      </label>
      <input type="text" name="firstName" id="firstName" class="form__input" />

      <label for="lastName" class="form__label form__label--required">
        Last name
      </label>
      <input type="text" name="lastName" id="lastName" class="form__input" />

      <label for="email" class="form__label form__label--required">
        e-mail
      </label>
      <input type="email" name="email" id="email" class="form__input" />

      <label for="phone" class="form__label">
        Phone
      </label>
      <input type="text" name="phone" id="phone" class="form__input" />

      <label for="address" class="form__label form__label--required">
        address
      </label>
      <input type="text" name="address" id="address" class="form__input" />

      <label for="addressCont" class="form__label">
        address cont&#8230;
      </label>
      <input type="text" name="addressCont" id="addressCont" class="form__input" />

      <label for="zipCode" class="form__label form__label--required">
        Zip code
      </label>
      <input type="text" name="zipCode" id="zipCode" class="form__input" />

      <label for="city" class="form__label form__label--required">
        City
      </label>
      <input type="text" name="city" id="city" class="form__input" />

      <label for="state" class="form__label form__label--required">
        State
      </label>
      <input type="text" name="state" id="state" class="form__input" />

      <label for="country" class="form__label form__label--required">
        Country
      </label>
      <div class="form__select">
        <select name="country" id="country">
          <option>United States</option>
        </select>
      </div>

      <div class="form__header">Payment</div>

      <label for="cardNumber" class="form__label form__label--required">
        Card number
      </label>
      <input type="text" name="cardNumber" id="cardNumber" class="form__input" />

      <label for="cardHolder" class="form__label form__label--required">
        Card holder
      </label>
      <input type="text" name="cardHolder" id="cardHolder" class="form__input" />

      <label for="cvc" class="form__label form__label--required">
        CVC
      </label>
      <input type="text" name="cvc" id="cvc" class="form__input" />

      <button class="form__input form__input--disabled form__submit" type="submit" id="submit" disabled>
        Checkout
      </button>

    </form>
  </div>
  <div class="grid__column grid__column--half">
    <div class="order">
      <div class="order__header">Order</div>
      <div class="order__product">
        <img class="order__productImage" src="http://placehold.it/90/5F45A3" />
        <div class="order__productTitle">Acme product</div>
        <div class="order__desc">Qty<span id="productValue" class="order__productValue">0</span></div>
        <div class="order__desc">Price<span class="order__productValue">$00</span></div>
      </div>
      <div class="order__price">
        <div class="order__desc">Subtotal<span class="order__productValue">$00,000</span></div>
        <div class="order__desc">Tax<span class="order__productValue">$00</span></div>
        <div class="order__desc">Shipping<span class="order__productValue">$05</span></div>
        <div class="order__desc order__desc--bold">Total<span class="order__productValue">$00,000</span></div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
