<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="UTF-8" />
  <title>{% block title %}Welcome!{% endblock %}</title>
  {% block stylesheets %}{% endblock %}
  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  <link rel="stylesheet" href="{{ asset('bundles/app/css/main.css') }}" />
  <script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>
  <script src="{{ asset('bundles/app/js/main.js') }}"></script>

</head>

<body>
  <header>
    <div id="navigation" class="navigation navigation--fixed">
      <div id="navigation__toggle" class="navigation__hamburger">
        <a href="#" class="navigation__hamburgerLink">
          <span class="navigation__hamburgerIcon"></span>
        </a>
      </div>
      <ul class="navigation__list">
        <li><a href="#" class="navigation__item">MenuItem 1</a></li>
        <li><a href="#" class="navigation__item">MenuItem 2</a></li>
        <li><a href="#" class="navigation__item">MenuItem 3</a></li>
        <li><a href="#" class="navigation__item">MenuItem 4</a></li>
        <li><a href="#" class="navigation__item">MenuItem 5</a></li>
        <li><a href="#" class="navigation__item">MenuItem 6</a></li>
        <li><a href="#" class="navigation__item">MenuItem 7</a></li>
        <li><a href="#" class="navigation__item">MenuItem 8</a></li>
        <li><a href="#" class="navigation__item">MenuItem 9</a></li>
        <li><a href="#" class="navigation__item">MenuItem 10</a></li>
        <li><a href="#" class="navigation__item">MenuItem 11</a></li>
        <li><a href="#" class="navigation__item">MenuItem 12</a></li>
        <li><a href="/cart" id="cart" class="navigation__item navigation__item--important">Go to Checkout (<span>0</span>)</a></li>
      </ul>
      <ul>
      </ul>
    </div>
  </header>
  {% block body %}{% endblock %}
  <footer>
    Copyrights
  </footer>

  {% block javascripts %}{% endblock %}

</body>

</html>
