@import "components/grid";
@import "components/menu";
@import "components/messages";
@import "components/buttons";
@import "components/forms";
@import "components/orders";
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0 1em;
  background: #FFF;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  color: rgba(0, 0, 0, .87);
  font-smoothing: antialiased;
  min-width: 320px;
}

h1, h2, h3 {
  text-transform: uppercase;
}

header {
  width: 100%;
  ul {
    list-style: none;
    li {
      display: inline-block;
    }
  }
}

footer {
  border: 1px solid #000;
  width: 100%;
}
