.button {
  color: #f2f2f2;
  padding: .5em 1em;
  font-size: 1em;
  text-transform: uppercase;
  border-radius: 4px;
  background: rgba(86, 59, 158, .95);
  border: 1px solid rgba(86, 59, 158, 1);
  cursor: pointer;
  &--disabled {
    background: rgba(86, 59, 158, .65);
    cursor: text;
  }
}
