.form {
  padding: 1em;
  width: 100%;
  &__input {
    width: 100%;
    font-size: 1em;
    padding: 1em;
    margin-bottom: 1em;
    border: 1px solid #bbbbbb;
    border-radius: 2px;
    &:active,
    &:focus {
      border-color: rgba(86, 59, 158, .9);
      box-shadow: 0 0 2px 2px rgba(0, 0, 0, .05)
    }
  }
  &__select {
    position: relative;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: -12px;
      right: 12px;
      height: 3.5em;
      width: 3.5em;
      z-index: 1;
      background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTE2LjU5IDguNTlMMTIgMTMuMTcgNy40MSA4LjU5IDYgMTBsNiA2IDYtNnoiLz4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==);
      background-repeat: no-repeat;
      transform: translate(50%, 50%);
    }
    &:after {
      content: '';
      display: block;
      height: 3.5em;
      width: 3.5em;
      background: #222222;
      z-index: 0;
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 0 3px 3px 0;
    }
  }
  &__submit {
    color: #f2f2f2;
    padding: 1em;
    font-size: 1em;
    text-transform: uppercase;
    border-radius: 4px;
    background: rgba(86, 59, 158, .95);
    border: 1px solid rgba(86, 59, 158, 1);
    cursor: pointer;
    font-weight: bold;
  }
  &__input--disabled {
    background: rgba(86, 59, 158, .65);
    cursor: text;
  }
  &__label {
    text-transform: uppercase;
    font-size: .857em;
    font-weight: bold;
    line-height: 2em;
    letter-spacing: 1px;
  }
  &__input &--error {
    border-color: red;
  }
  &--error:not(&__input) {
    color: red;
    display: block;
    width: 100%;
    margin-top: -1.2em;
    border-radius: 0 0 2px 2px;
    margin-bottom: 1em;
    font-size: .8em;
    padding-left: .5em;
  }
  &__label--required {
    position: relative;
    display: inline-block;
    &:after {
      content: '';
      background: rgba(86, 59, 158, .95);
      height: .5em;
      width: .5em;
      display: inline-block;
      border: 1px solid rgba(86, 59, 158, .95);
      border-radius: 100%;
      position: absolute;
      top: .4em;
      right: -1.2em;
    }
  }
  &__header {
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 2em 0;
  }
}

select {
  width: 100%;
  font-size: 1em;
  padding: 1em;
  margin-bottom: 1em;
  border: 1px solid #bbbbbb;
  border-radius: 2px;
  appearance: none;
  &:active,
  &:focus {
    border-color: rgba(86, 59, 158, .9);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .05)
  }
}
