.grid {
  margin:0 auto;
  max-width: 1280px;
  &__row {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  &__column {
    flex: 1 1 8%;
    margin: 0 0 0.5rem 0;
    padding: 0.5em 10px;
    box-sizing: border-box;
  }
  &__column--half {
    flex-basis: 50%;
  }
  &__column--full {
    flex-basis: 100%;
  }
  &--centered {
    text-align: center;
  }
}

@media all and (max-width: 766px) {
  .grid {
    &__column--half {
      flex-basis: 100%;
    }
  }
}
