.navigation {
  &__list {
    list-style: none;
    margin: 0;
    background: rgba(86, 59, 158, .95);
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .25);
    width: 100%;
    padding: 0;
    position: fixed;
    top: 0;
  }
  &__item {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: #f2f2f2;
    text-transform: uppercase;
  }
  &__item:hover {
    background: rgba(86, 59, 158, 1);
  }
  &__item--important {
    font-weight: bold;
  }
  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
}

@media all and (max-width: 766px) {
  .navigation {
    padding-top: 0;
    &__list {
      flex-flow: column wrap;
      padding: 0;
      height: 43px;
    }
    &__item {
      text-align: center;
      padding: 10px;
      border-top: 1px solid rgba(255, 255, 255, 0.3);
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      display: none;
    }
    li:last-of-type &__item {
      border-bottom: none;
    }
    &__hamburger {
      height: 43px;
      background: rgba(86, 59, 158, .9);
    }
    &__hamburgerLink {
      cursor: pointer;
      height: 43px;
      width: 43px;
      display: inline-block;
      z-index: 999;
      position: relative;
    }
    &__hamburgerIcon,
    &__hamburgerIcon:before,
    &__hamburgerIcon:after {
      content: '';
      position: absolute;
      border-radius: 1em;
      height: 2px;
      width: 26px;
      background: #f2f2f2;
      transition: all 0.2s ease;
      z-index: 999;
    }
    &__hamburgerIcon {
      top: 1.5em;
      left: .5em;
    }
    &__hamburgerIcon:before {
      top: -0.55em
    }
    &__hamburgerIcon:after {
      top: 0.55em
    }
    &__hamburger--active &__hamburgerIcon {
      background: transparent;
      transform: rotate(-135deg)
    }
    &__hamburger--active &__hamburgerIcon:before,
    &__hamburger--active &__hamburgerIcon:after {
      top: 0
    }
    &__hamburger--active &__hamburgerIcon:before {
      transform: rotate(90deg)
    }
    &__hamburger--active &__hamburgerIcon,
    &__hamburger--active &__hamburgerIcon:before,
    &__hamburger--active &__hamburgerIcon:after {
      background: #f2f2f2;
    }
    &__item--important {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
    }
    &__hamburger--active + &__list {
      top: 43px;
      height: auto;
    }
    &__hamburger--active + &__list &__item {
      display: block;
    }
    &__hamburger--active + &__list &__item--important {
      top: -43px;
    }
  }
}
