.message {
  padding: 1em;
  margin: .5em;
  border-radius: 4px;

  &__header {
    font-weight: bold;
  }

  &__content {
    font-weight: thin;
  }

  &--info {
    background: rgba(249, 184, 215, .5);
    border: 1px solid rgba(249, 184, 215, .75);
  }
}
