.order {
  padding: 1em;
  &__header {
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 2em 0;
  }
  &__product {
    &:after {
      content: '';
      clear: both;
      display: block;
      padding-bottom: 1em;
      border-bottom: 1px solid #bbbbbb;
    }
  }
  &__productTitle {
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    margin: .25em 0;
  }
  &__desc {
    font-size: 1.2em;
  }
  &__desc--bold {
    font-weight: bold;
  }
  &__productImage {
    float: right;
  }
  &__productValue {
    float: right;
    margin-right: .5em;
  }
  &__price {
    padding-top: 1em;
  }
}
